@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
}
h1, h2, h3, h4, h5, h6, p, span, input, label, textarea, select {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
} 
.form-section {
  padding: 50px 0;
}
.form-inner {
  background-color: #fff;
  box-shadow: 0 0 10px 2px #0000002e !important;
  border-radius: 20px !important;
  padding: 60px;
}  
.flx-box {
  align-items: center;
}
ul.hdr-date {
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.hdr-date li {
  line-height: 30px;
}
img.brandname {
  width: 30%;
}

.text-box {
  padding: 30px 0 50px;
}
.text-box h1 {
  font-size: 46px;
  margin: 0;
}
.text-box h4 {
  font-size: 28px;
  margin: 20px 0;
}
.text-box h6 {
  font-size: 16px;
  margin: 0 0 50px;
}
.red-link {
  color: #F90000;
}
.txt-width {
  width: 100%;
}
.txt-fld-space .flx-box {
  padding: 14px 0;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}
.checkbox .MuiFormControlLabel-label {
  font-size: 14px;
}
.pd-top-btm {
  padding: 20px 0;
}
.pd-top-btm label {
  margin-bottom: 18px;
}
.pd-top-btm .MuiFormControlLabel-labelPlacementEnd {
  margin-bottom: 0 !important;
}
.tag {
  background-color: #383535;
  color: #fff;
  font-weight: 600;
  padding: 8px 20px;
}
.right-btn {
  float: right;
}
